body{
    overflow-y: hidden;
}

button{
    font-family: 'Nanum Myeongjo', serif;
    font-weight: bold;
    border:none;
    color:white;
    height:18%;
    width:92%;
    margin-top: 4%;
    margin-bottom:2%;
    margin-left:4%;
    font-size: 250%;
    border-radius:4px;
}

a{
    text-decoration: none;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}

#overlayBox {
    position: absolute;
    margin:0%;
    padding:1%;
    left:11%;
    top:11%;
    bottom:11%;
    width:76%;
    height:74%;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 28px;
    background-color:#A17B74;
}

#pano{
    height:100%;
    width:65%;
    float:left;
}

#chapterTitleInside{
    font-family: 'Nanum Myeongjo', serif;
    /*color:#212E3E;*/
    color:#000;
}

.gamebox {  
    width:94%;
    height:80%;
    position: fixed;
    left:3%;
    top:80px;
    display:block;
   /*background-color:#f9f4ca;*/
   /*background-color:#000;*/
   background-image: url("../fullPage/examples/imgs/paper.jpg");
 }

.overlayElements {
    margin:1%;
}

.text {
    width:33%;
    height:100%;
    float:left;
    padding:1%;
    font-family: 'Nanum Myeongjo', serif;
}

.largeText{
    overflow-y:scroll;
}

.navElements{
}

.nav { 
    font-family: 'Nanum Myeongjo', serif;
    font-size:12px;
    text-transform:uppercase;
    letter-spacing:1px;
    text-align:center;
    color:;
    z-index:99999999999999;
    width:450px;
    display:inline;
 }
 
.nav a {
    color:#000;
    padding:5px;
    width:450px;
    z-index:9999999999999;
}

#easy {
    background-color:#009131;
}
 
#med {
    background-color: #C66600;
}

#hard {
    background-color: #C61F00;
}

#back {
    /*background-color: #055E7C;*/
    background-color: #000;
    float: bottom;
    font-size: 28px;
}

#new {
    /*background-color: #69B500;*/
    background-color: #000;
    font-size:35px;
}